@model IEnumerable<BillPay.Models.Bill>

@{
    ViewBag.Title = "Calculator";
}

<h2>Calculator</h2>


@using (Html.BeginForm())
{
    <script>


        $(function () {
            //var start;
            //var end;
            var dateFormat = "mm/dd/yy",
                from = $("#from")
                    .datepicker({
                        defaultDate: "+1d",
                        changeMonth: true,
                        changeYear: true,
                        numberOfMonths: 3
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                //start = $("#from").datepicker("getDate");

            to = $("#to").datepicker({
                defaultDate: "+2d",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 3
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });
            //end = $("#to").datepicker("getDate");

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }

        });
    </script>

    <label for="from">Calculate Bills From</label>
    <input type="text" id="from" name="from" placeholder="Click to choose date">
    <label for="to">To</label>
    <input type="text" id="to" name="to" placeholder="Click to choose date">
    <input type="submit" id="GetBills" value="Get Bills" />

}
@if (ViewBag.billList != null)
{
    <table class="table">
        <thead>Bills</thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
        </tr>

        @foreach (var b in ViewBag.billList)
        {
            <tr>
                <td>
                    @b.Name
                </td>
                <td>
                    @b.DueDate
                </td>
                <td>
                    @b.Cost
                </td>
            </tr>
        }
    </table>

    @*
        @Html.Raw(ViewBag.budget)
    *@
    int Budget = (int)ViewBag.budget;
    <label for="Amount">Enter Starting Amount $</label>
    <input type="number" id="Amount" name="Amount" step="0.01" placeholder="0.00" min="0">
    <input type="submit" id="GetTotal" value="Total" onclick="total()"/>
    <input type="text" id="total" name="Total" />
    <div id="blah"></div>

    <script>
        function total()
        {
            var amount = document.getElementById("Amount").value;
            var budget = @ViewBag.budget;
            var totalAmount = parseInt(amount) - parseInt(budget);
            if (!isNaN(totalAmount)) {
                document.getElementById('total').value = totalAmount;
                
            }


        }
    </script>


    {

    }
}

