@model IEnumerable<BillPay.Models.Bill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })        
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.ActionLink("Cost", "Index", new { sortOrder = ViewBag.CostSortParm })
        </th>
        <th>
            @Html.ActionLink("Due Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (BillPay.Models.Bill item in Model.ToList().Where(item => item.User.Email == User.Identity.Name)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BillID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BillID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BillID })
        </td>
    </tr>
}

</table>
